@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

:root {
    --primary-color: #FF66C4;
    --primary-color-hover: #fa9bd6;
    --primary-bg-color: #F4CBD7;
    --second-bg-color: #F4E6EC;
    --second-background: #292929;
}

* {
    font-family: 'Poppins', sans-serif;
}

.button {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.button:hover {
    background-color: var(--primary-color);
    color: white;
}


.floating-logo {
    background-image: url("img/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 339px !important;
    height: 192px;
}

.top-button {
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin: 35px 0px 2px 0px;
    width: 100%;
}

/* HOME */

.main-buttons {
    margin-bottom: 30px;
}

.paraph-home {
    color: #F4E6EC;
    font-size: large;
    margin-top: -10px;
}

.img-container {
    background-image: url("./img/main-img.jpg");
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-top: 27px;
}

.buttons-row {
    padding: 0px 60px 0px 60px;
}

.welcome-row {
    padding: 20px 20px 24px 20px;
}

body {
    background-color: var(--second-background) !important;
}

.logo {
    background-image: url("./img/logo.png");
    height: 210px;
    margin-top: -155px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-size: 339px 192px;
    background-position: center;
    width: 100% !important;
}

/* PRICING */

.title-pricing {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.paraph-pricing {
    color: #F4E6EC;
    font-size: 20px;
    margin: 0px;
}

.paraph-warning {
    color: white;
    font-size: 19px;
    margin-top: -15px;
}

.paraph-alert p {
    color: var(--primary-color);
    font-size: large;
    margin-bottom: -5px;
    font-size: 20px;
    font-weight: 900;
}

.floating-warning {
    background-color: var(--primary-color);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50px;
    height: auto;
    margin: 0 0 35px 0;
    display: block;
}

.title-warning {
    color: white;
    font-weight: bold;
    font-size: 45px;
    margin-top: 10px;
}

.main-col-center {
    margin-bottom: 35px;
    flex-direction: column;
}

/* Nav Header */

.nav-header {
    margin-top: 15px;
    width: 100%;
}

.nav-menu-button img {
    margin: auto;
    display: block;
    height: 30px;
    filter: invert(57%) sepia(75%) saturate(1925%) hue-rotate(291deg) brightness(102%) contrast(101%);
}

.nav-button:hover {
    background-color: var(--second-bg-color);
    color: var(--primary-color);
}

.nav-button {
    background-color: var(--primary-color);
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    margin: 10px 27px 0px 27px;
}

/* TERMS OF SERVICE */

.tos-col {
    height: 340px;
}

.tos-sections {
    background-color: transparent;
    font-size: 18px;
    justify-content: center;
}

.tos-sections-btn {
    color: #F4E6EC;
    padding: 10px;
    border-color: white;
    border-style: solid solid solid solid;
    border-width: 1px;
    text-decoration: none;
    display: block;
}

.tos-sections-btn:hover {
    background-color: white;
    color: var(--second-background);
    cursor: pointer;
}

.title-terms {
    color: #F4E6EC;
    font-size: 25px;
    padding-bottom: 15px;
    font-weight: 800;
}

.title-faq {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.url-btn {
    background-color: var(--primary-color);
    border-radius: 25px;
    color: white;
    padding: 5px 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border-width: 0;
    text-decoration: none;
}

.url-btn:hover {
    background-color: var(--primary-color-hover);
    color: white;
}

.btn-disabled {
    background-color: #c2c2c2;
    cursor: not-allowed !important;
}

.btn-disabled:hover {
    background-color: #afafaf;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-bg-color);
}

/* TRACKING */

.accordion {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: 900;
    transition: 0.4s;
    border: 1px solid white;
}

.active,
.accordion:hover {
    background-color: var(--primary-color-hover);
}

.panel {
    border: 1px solid white;
    padding: 0 18px;
    display: block;
    background-color: var(--second-bg-color);
    overflow: hidden;
}

.paint-icon {
    background-image: url(img/icon-draw.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: 100%;
}

.progress-bar {
    background-color: var(--primary-color) !important;
}

.tracking-col {
    height: 500px;
    margin-bottom: 40px;
}

/* Footer */

.footer {
    color: rgb(181, 181, 181);
}

.footer a:last-child {
    font-size: 6px;
}

.footer span {
    font-family: 'Courier New', Courier, monospace;
}

.footer a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(181, 181, 181);
}

.footer a:hover {
    color: rgb(100, 99, 99);
}

.img-dev {
    background-image: url("img/love-always-wins.png");
    background-size: 20px auto;
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline;
    margin-top: 3px;
    margin-left: 3px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo{
        background-size: 100% auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .tracking-info {
        padding-top: 25px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background-color: var(--primary-bg-color) !important;
    }

    .main-child-container {
        background-color: var(--second-background);
        padding-bottom: 40px;
    }

    /* HOME */

    .img-container {
        width: 550px;
        height: 550px;
    }

    .logo {
        margin-top: 0;
    }

    /* NAV */

    .nav-menu-button {
        display: none;
    }

    .nav-button {
        display: block;
        width: 250px;
    }

    .nav-header {
        margin-bottom: 20px;
    }

    /* FLAOTING WARNING  */

    .floating-warning {
        width: 480px !important;
    }

    .floating-warning-row{
        position: absolute;
        margin: -10px 0 0 -100px !important;
    }

    .floating-logo-row{
        position: absolute;
        right: 0;
        margin: -50px 10px 0 0 !important;
    }

    /* TRACKING */
    .tracking-info{
        align-items: center;
    }

    .tracking-col {
        margin-bottom: 0;
    }

    /* FOOTER */
    .footer {
        color: rgb(68, 67, 67);
    }

    .footer a {
        color: rgb(68, 67, 67);
    }
    
}

@media only screen and (min-width: 1577px) {
    .floating-logo-row{
        margin: -50px 5% 0 0 !important;
    }
}