@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

:root {
    --primary-color: #FF66C4;
    --primary-bg-color: #F4CBD7;
    --second-bg-color: #F4E6EC;
    --second-background: #292929;
}


.title-pricing {
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin-top: 10px;
}

.paraph-home {
    color: #F4E6EC;
    font-family: 'Poppins';
    font-size: large;
    margin-top: -10px;
}

.paraph-pricing {
    color: #F4E6EC;
    font-family: 'Poppins';
    font-size: large;
    margin-top: -23px;
    font-size: 20px;
}

.button {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.button:hover {
    background-color: var(--primary-color);
    color: white;
}

.main-container {
    height: 100vh;
}

.main-buttons {
    margin-bottom: 30px;
    width: 70% !important;
}


.img-container {
    background-image: url("./img/main-img.jpg");
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-position: center;
}

.main-child-container {
    background-color: var(--second-background);
    height: 718px;
    width: 1466px !important;
    border-radius: 10px;
}

.buttons-row {
    padding: 0px 60px 0px 60px;
}

.welcome-row {
    padding: 20px 20px 24px 20px;
}

.logo {
    background-image: url("./img/logo.png");
    height: 210px;
    margin-top: -65px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-size: auto 210px;
    background-position: center;
}

/* Nav Header */

.nav-header {
    margin-top: 25px;
    width: 100%;
}

.nav-button:hover {
    background-color: var(--second-bg-color);
    color: var(--primary-color);
}

.nav-button {
    background-color: var(--primary-color);
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    margin: 0px 27px 0px 27px;
}

.top-button {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 35px 4px 2px 2px;
    width: 450px;
}

.floating-logo {
    background-image: url("img/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 339px;
    height: 192px;
    margin: 0px 160px 40px 0px;
}

.floating-warning {
    background-color: var(--primary-color);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50px;
    width: 550px;
    height: 150px;
    margin: 0px 0px 38px 150px;
}

.title-warning {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin-top: 10px;
}
.paraph-warning {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    margin-top: -15px;
}

.paraph-alert {
    color: var(--primary-color);
    font-family: 'Poppins';
    font-size: large;
    margin-bottom: -5px;
    font-size: 20px;
    font-weight: 900;
}

.tos-col {
    max-height: 400px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-bg-color); 
  }

  li {
    
  }