:root {
    --peach: #fbc2cd;
    --skyblue: #8fedea;
    --blue: #3ecace;
    --light-purple: #9fa4dd;
    --purple: #5e4d81;
    --pink: #cb80c0;
}

body {
    background-color: #3ecace;
}

.App-header {
    background-color: red;
}

.div {
    color: #3ecace;
}

/* Header */
.main-img {
    height: 300px;
    background-size: 100% auto;
    background-image: url("img/main-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-color: white;
    border-width: 15px;
}

.navbar {
    margin-top: 10px;
    width: 100%;
    background-color: white;
}

.nav {
    height: 30px;
    width: 100%;
    color: var(--blue);
}